<div class="heading">EDIT CAR</div> 
<form *ngIf="CurrentCar.length!=0" #editCarForm="ngForm" (ngSubmit) ="updateCar(editCarForm)" class="car" ngNativeValidate>

    <div class="form-group">
      <label for="name">1. Car Name</label>
      <input type="text" class="form-control" id="name" name="name"  [ngModel]="CurrentCar[0].name" required>
    </div>

     <br>
    <div class="form-group">
        <label for="model">2. Car Model</label>
        <input type="text" class="form-control" name="model" id="model" [ngModel]="CurrentCar[0].model" required>
        <small class="text-danger">{{modelError}}</small>
    </div>
    <br>

    <div class="form-group">
      <label for="status">3. Select Status</label>
      <select class="form-control" id="status" name="status" [ngModel]="CurrentCar[0].status" required>
        <option value="active">ACTIVE</option>
        <option value="inactive">INACTIVE</option>
      </select>
    </div>
     <br>
    <button type="submit" class="btn btn-warning">UPDATE CAR</button> &nbsp;
    <button type="button" class="btn btn-secondary" (click)="cancel()">BACK</button>

    <div *ngIf="showMsg" class="message">
        {{message}}
    </div>

</form>

