<div class="heading">MY ORDERS</div>
<ul class="nav nav-pills mb-5 mt-5 nav-justified bg-light" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-accpeted-tab" data-toggle="pill" href="#pills-accepted" role="tab" aria-controls="pills-accepted" aria-selected="true">ACCEPTED</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-inprocess-tab" data-toggle="pill" href="#pills-inprocess" role="tab" aria-controls="pills-inprocess" aria-selected="false">IN-PROCESS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-completed-tab" data-toggle="pill" href="#pills-completed" role="tab" aria-controls="pills-completed" aria-selected="false">COMPLETED</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-cancelled-tab" data-toggle="pill" href="#pills-cancelled" role="tab" aria-controls="pills-cancelled" aria-selected="false">CANCELLED</a>
    </li>
  </ul>

  <!-- Tab content -->
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-accepted" role="tabpanel" aria-labelledby="pills-accpeted-tab">
        <!-- List of all accepted orders -->
        <div class="table-responsive mx-auto" id="accepted">
            <p  class="subtitle">Accepted Orders</p>
            <div *ngIf="accepted.length == 0" class="text-center">
                <p>No Accepted orders to show</p>
            </div>
            <table *ngIf="accepted.length != 0" class="table table-striped table-hover mx-auto w-auto">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Package</th>
                      <th scope="col">Addons</th>
                      <th scope="col">Car</th>
                      <th scope="col">City</th>
                      <th scope="col">Date & Time</th>
                      <th scope="col">User Name</th>
                      <th scope="col">Scheduled Later</th>
                      <th scope="col">Cost</th>
                      <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let req of accepted; let i=index;">
                        <th scope="row">{{i}}</th>
                        <td > {{req.package}} </td>
                        <td > {{req.addOn}} </td>
                        <td > {{req.carInfo.carName}} - {{req.carInfo.carModel}} </td>
                        <td > {{req.address.city}} </td>
                        <td > {{req.dateTime}} </td>
                        <td > {{req.userDetails.name}} </td>
                        <td > {{req.isScheduledLater}} </td>
                        <td > {{req.totalCost}} </td> 
                      <td> 
                          <button class="btn btn-warning" (click)="inprocessRequest(req._id)">In-process</button> &nbsp;
                          <button class="btn btn-danger" (click)="cancelRequest(req._id)">Cancel</button>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-inprocess" role="tabpanel" aria-labelledby="pills-inprocess-tab">
        <!-- List of all in-process orders -->
    <div class="table-responsive mx-auto" id="inprocess">
        <p  class="subtitle">In-process Orders</p>
        <div *ngIf="inprocess.length == 0" class="text-center">
            <p>No inprocess orders to show</p>
        </div>
        <table *ngIf="inprocess.length != 0" class="table table-striped table-hover mx-auto w-auto">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Package</th>
                <th scope="col">Addons</th>
                <th scope="col">Car</th>
                <th scope="col">City</th>
                <th scope="col">Date & Time</th>
                <th scope="col">User Name</th>
                <th scope="col">Scheduled Later</th>
                <th scope="col">Cost</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let req of inprocess; let i=index;">
                    <th scope="row">{{i}}</th>
                    <td > {{req.package}} </td>
                    <td > {{req.addOn}} </td>
                    <td > {{req.carInfo.carName}} - {{req.carInfo.carModel}} </td>
                    <td > {{req.address.city}} </td>
                    <td > {{req.dateTime}} </td>
                    <td > {{req.userDetails.name}} </td>
                    <td > {{req.isScheduledLater}} </td>
                    <td > {{req.totalCost}} </td> 
                <td> 
                    <button class="btn btn-success" (click)="completedOrder(req._id)">Completed</button> &nbsp;
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="tab-pane fade" id="pills-completed" role="tabpanel" aria-labelledby="pills-completed-tab">
        <!-- List of all completed and unpaid orders -->
        <div class="table-responsive mx-auto" id="completedAndUnpaid">
            <p  class="subtitle">Unpaid but Completed Orders</p>
            <div *ngIf="completedAndUnpaid.length ==0" class="text-center">
                <p>No orders to show</p>
            </div>
            <table *ngIf="completedAndUnpaid.length != 0" class="table table-striped table-hover mx-auto w-auto">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Package</th>
                    <th scope="col">Addons</th>
                    <th scope="col">Car</th>
                    <th scope="col">City</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Scheduled Later</th>
                    <th scope="col">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let req of completedAndUnpaid; let i=index;">
                        <th scope="row">{{i}}</th>
                        <td > {{req.package}} </td>
                        <td > {{req.addOn}} </td>
                        <td > {{req.carInfo.carName}} - {{req.carInfo.carModel}} </td>
                        <td > {{req.address.city}} </td>
                        <td > {{req.dateTime}} </td>
                        <td > {{req.userDetails.name}} </td>
                        <td > {{req.isScheduledLater}} </td>
                        <td > {{req.totalCost}} </td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <br> <br>
        <!-- List of completed and paid orders -->
        <div class="table-responsive mx-auto" id="completedAndPaid">
            <p  class="subtitle">Paid And Completed Orders</p>
            <div *ngIf="completedAndPaid.length ==0" class="text-center">
                <p>No orders to show</p>
            </div>
            <table *ngIf="completedAndPaid.length != 0" class="table table-striped table-hover mx-auto w-auto">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Package</th>
                    <th scope="col">Addons</th>
                    <th scope="col">Car</th>
                    <th scope="col">City</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Scheduled Later</th>
                    <th scope="col">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let req of completedAndPaid; let i=index;">
                        <th scope="row">{{i}}</th>
                        <td > {{req.package}} </td>
                        <td > {{req.addOn}} </td>
                        <td > {{req.carInfo.carName}} - {{req.carInfo.carModel}} </td>
                        <td > {{req.address.city}} </td>
                        <td > {{req.dateTime}} </td>
                        <td > {{req.userDetails.name}} </td>
                        <td > {{req.isScheduledLater}} </td>
                        <td > {{req.totalCost}} </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-cancelled" role="tabpanel" aria-labelledby="pills-cancelled-tab">
        <!-- List of all cancelled orders -->
    <div class="table-responsive mx-auto" id="cancelled">
        <p  class="subtitle">Cancelled Orders</p>
        <div *ngIf="cancelled.length == 0" class="text-center">
            <p>No cancelled orders to show</p>
        </div>
        <table *ngIf="cancelled.length != 0" class="table table-striped table-hover mx-auto w-auto">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Package</th>
                <th scope="col">Addons</th>
                <th scope="col">Car</th>
                <th scope="col">City</th>
                <th scope="col">Date & Time</th>
                <th scope="col">User Name</th>
                <th scope="col">Scheduled Later</th>
                <th scope="col">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let req of cancelled; let i=index;">
                    <th scope="row">{{i}}</th>
                    <td > {{req.package}} </td>
                    <td > {{req.addOn}} </td>
                    <td > {{req.carInfo.carName}} - {{req.carInfo.carModel}} </td>
                    <td > {{req.address.city}} </td>
                    <td > {{req.dateTime}} </td>
                    <td > {{req.userDetails.name}} </td>
                    <td > {{req.isScheduledLater}} </td>
                    <td > {{req.totalCost}} </td> 
                
                </tr>
            </tbody>
        </table>
    </div>

    </div>
  </div>


