/* Heading */
.heading{
    font-size: 50px;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

form{
    width: 70%;
    margin: auto;
}

label{
    font-size: 22px;
    color: #007bff;
}

.message{
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: large;
    background-color: rgb(17, 161, 17);
}