<div class="wrapper">
  <p class="heading"> WELCOME</p>
  
  <div class="content">
    <ul>
        <li>Admin Dashboard with features to add new plans, addons, edit them and remove them as per business goals.</li> <br>
        <li>Approve Washers as per demand and quality. </li> <br> <br>
        <button class="btn btn-secondary" routerLink="../washerApproval">Approve Washers</button> &nbsp;
        <button class="btn btn-info" routerLink="../adminPlans">Manage Plans</button>
    </ul>


</div>
