<div class="wrapper">
    <p class="heading"> WELCOME</p>
    <div class="content">
        <ul>
            <li>Avail the benefits of all the new offers, our washers network is the fuel of this big company.</li> <br>
            <li>A feature rich dashboard, provides you to edit your profile,see all your recieved wash requests and manage existing orders. Explore all the features from the side navigation bar.</li> <br>
            <li> 
                If you are a new user, you must first create your profile, before handling your wash requests. The profile creation process is made to be completed within seconds, saving your valuable time. <br> <br>
            <button class="btn btn-secondary" routerLink="../washerProfile">Create Profile</button> &nbsp;
            <button class="btn btn-info" routerLink="../washRequests">See Wash Requests</button>
            </li>
        </ul>
    </div>
</div>
