<footer class="navbar-dark  bg-primary ">
    <!-- Social media links -->
    <div class="d-flex justify-content-center">
        <div class="p-3"><a href="#"><fa-icon [icon]="facebookIcon" size="2x"></fa-icon></a></div>
        <div class="p-3"><a href=""><fa-icon [icon]="twitterIcon" size="2x"></fa-icon></a></div>
        <div class="p-3"><a href=""><fa-icon [icon]="googleIcon" size="2x"></fa-icon></a></div>
        <div class="p-3"><a href=""><fa-icon [icon]="linkedinIcon" size="2x"></fa-icon></a></div>
        <div class="p-3"><a href=""><fa-icon [icon]="instagramIcon" size="2x"></fa-icon></a> </div>
        <div class="p-3"><a href=""><fa-icon [icon]="pinterestIcon" size="2x"></fa-icon></a></div>
    </div>

    <!-- Copyright -->
    <div class="p-3" style="text-align: center;">
        © 2020 Copyright: Carwash.company.com
    </div>

</footer>

   


