<div class="d-flex" id="wrapper"  [ngClass]="status ? 'toggled' : '' " >

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">MENU</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink ="adminHome">Home</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="washerApproval">Washer Approval</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="adminPlans">Plans Management</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="adminAddons">AddOns Management</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="adminCars">Cars Management</a>
    </div>
  </div>
  

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle" (click) = "toggleClass()"><fa-icon [icon]="barsIcon"></fa-icon></button>
      </nav>

      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>
  </div>
   
</div>
