<div class="d-flex" id="wrapper"  [ngClass]="status ? 'toggled' : '' " >

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">MENU</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink ="customerHome">Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="customerProfile">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="customerOrder">Book a Wash</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="customerScheduledOrders">Scheduled Washes</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="customerOrders">My Orders</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="leaderboard">Leaderboard &nbsp; <span class="badge badge-warning">NEW</span></a>
      </div>
    </div>
    

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle" (click) = "toggleClass()"><fa-icon [icon]="barsIcon"></fa-icon></button>
        </nav>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
     
</div>
  