<div class="heading">Service Plans Management</div> <br>

  <button class="btn btn-success float-right mb-3" routerLink="../createPlan">CREATE NEW PLAN</button>


<div class="table-responsive mb-4"> 
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Time</th>
        <th scope="col">Cost</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let plan of plans[0]; let i= index">
        <th scope="row">{{i+1}}</th>
        <td> {{plan.name}} </td>
        <td> {{plan.time}} </td>
        <td> ₹{{plan.cost}} </td>
        <td> {{plan.status}} </td>
        <td>
          <button class="btn btn-warning" [routerLink]="['../editPlan', plan._id]">EDIT</button> &nbsp;
          <button class="btn btn-danger" (click)="deletePlan(plan._id)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>