<span id="heading">Sign Up Now!</span>
<div class="signupForm">

   
    <!-- Form -->
    <form #signupForm>
        <div id="icon">
          <fa-icon id="userIcon" [icon]="user"></fa-icon>
        </div> 

        <!-- EMAIL INPUT -->
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <div class=" input-group mb-3">
          <input type="email" class="form-control" id="email" name ="email" aria-describedby="emailHelp">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1"><fa-icon [icon] ="envelope" size="lg"></fa-icon></span>
          </div>
          <div id="emailHelp" class="form-text"></div>
        </div>

        <!-- PASSWORD INPUT -->
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <div class="input-group mb-3">
          <input #pass type="password" class="form-control" id="password" name="password">
          <div class="input-group-append">
            <span class="input-group-text"><a #textpass (click)="showpass(pass,textpass)">Show</a></span>
          </div>  
        </div>
        
        <button type="submit" class="btn btn-primary">Create Account</button> &nbsp;
        <small>Already have an account? <a role="button" routerLink='/login'>Login</a></small>
    </form>
</div>
