<div class="wrapper">
    <p class="heading"> WELCOME</p>
    <div class="content">
        <p>
            Avail the benefits of all the new offers, our customers are what that drives us to work hard everday. <br> <br>
            A feature rich dashboard, provides you to edit your profile, Order a new wash and manage existing orders. Explore all the features from the side navigation bar. <br> <br>
            Introducing new feature...LEADERBOARDS..helps you know about customer wash rankings.

        </p>
    </div>
</div>
