<div class="wrapper">

    <!-- Banner Image -->
    <div class="banner-img"></div>

    <!-- Section 1 -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-7 pl-4">
            <h2>About Us:</h2>
            <hr>
            <h5>
                Since day one, we have kept moving forward, with the goal of getting more car washed. Our network keeps growing, washers from everywhere are joining our network. Be part of the group. Join the team now. <br> <br>
                In this fast moving life today we tend to spend more time in travelling as a result spend hours in the car, navigating the traffic jams. Air Pollution, Dust, Rain, Sunlight and Adverse road conditions all keeps adding on woos of common car users. 
                <br> <br>
                And as a result, there is a severe need of Professional Car Cleaning Organization to take care of all Car Cleaning jobs and give us the finest and ultimate car cleaning experience and satisfaction.
                <br> <br>
                Car Wash is here to stay and work dedicatedly towards spreading the awareness among car users about their car hygiene habits, cleanliness, durability of exterior look and other common cleaning tips.
            </h5>
            <button class="btn btn-primary mt-4" routerLink="/signup">JOIN THE NETWORK</button>
          </div>
          <div class="col-sm-5" style="text-align: center; padding-top: 90px;">
            <fa-icon id="chart" [icon]="chartLine"></fa-icon>
          </div>
        </div>
    </div>

    <!-- section 2 : Services -->
    <div class="container-fluid text-center section2">
        <h2>SERVICES</h2>
        <h4>What we offer</h4>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <fa-icon [icon]="dumbell"></fa-icon>
            <h4>POWER</h4>
            <p>The power of the team has made this possible.</p>
          </div>
          <div class="col-sm-4">
            <fa-icon [icon]="heart"></fa-icon>
            <h4>LOVE</h4>
            <p>Support and love makes it easy.</p>
          </div>
          <div class="col-sm-4">
            <fa-icon [icon]="case"></fa-icon>
            <h4>JOB DONE</h4>
            <p>With that we get our job done.</p>
          </div>
          </div>
          <br><br>
        <div class="row">
          <div class="col-sm-4">
            <fa-icon [icon]="leaf"></fa-icon>
            <h4>GREEN</h4>
            <p>We know the value of our mother nature and always <br>respect it.</p>
          </div>
          <div class="col-sm-4">
            <fa-icon [icon]="certificate"></fa-icon>
            <h4>CERTIFIED</h4>
            <p>No need to worry, your car will be in good hands.</p>
          </div>
          <div class="col-sm-4">
            <fa-icon [icon]="cogs"></fa-icon>
            <h4>HARD WORK</h4>
            <p>We work hard everyday, to make it easy for you.</p>
          </div>
        </div>
      </div>
</div>

