<div class="wrapper">

    <!-- Banner image -->
    <div class="banner-img">
   
    </div>
    <!-- heading -->
    <div class="heading">
        <p>Plans we offer</p>
    </div>

    <!-- serviceplans -->
    <div class="container">
        <div class="item" *ngFor="let service of services">
            <div class="title bg-primary">
                <p>{{service.name | uppercase}}</p>
            </div>
            <div class="body">
                <p> {{service.description}} </p>
                <span class="time"> <b> Estimated Time : {{service.time}} minutes</b></span>
            </div>
            <div class="foot">
                <span class="cost text-primary">Cost : <b>₹</b> {{service.cost}}</span>
            </div>
        </div>
        
    </div>
</div>