.banner-img{
    background-image: url('../../../assets/images/servicesbanner.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.9;
}

.heading{
    font-size: 60px;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
}


/* Services cards */

.container{
    display: flex;
    max-width: 90%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.item{
    background-color: white;
    margin: 20px;
    text-align: center;
    background-color:rgba(128, 128, 128, 0.062);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(128, 128, 128, 0.315);
    border-radius: 5px;
    width: 350px;
    flex-shrink :0;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}

.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
    padding: 10px;
}

.foot{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
}